.DS_Store
build/
build/qstar/
compile_commands.json
dist/
*.vsix
qstar-vscode-*.vsix
editors/vscode/qstar/dist/
editors/vscode/qstar/node_modules/
editors/vscode/qstar/build/qstar/
editors/vscode/qstar/**/build/qstar/
editors/vscode/qstar/compile_commands.json
